@{
    ViewBag.Title = "Home Page";
}


<div class="honeypot">

    <div>
        <div class="inner"><label id="label">Label here</label></div>
        <div class="inner">
            <input id="input" class="glowing-border" />
            <button id="button" class="buttonCss locked">Print to console</button>
        </div>
    </div>
    <div id="printoutInfo">
        
    </div>
</div>

